:root {
  --softBlue: hsl(231, 69%, 60%);
  --softRed: hsl(0, 94%, 66%);
  --greas: hsl(229, 8%, 60%);
  --darkBlue: hsl(229, 31%, 21%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 4rem;
}

.container-small {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 4rem;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8rem;
  align-items: center;
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  align-items: center;
}

.center-content {
  text-align: center;
}

.margin-bottom-medium {
  margin-bottom: 5rem;
}

p {
  font-size: 1.5rem;
  color: var(--greas);
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  color: var(--darkBlue);
}

h1 {
  font-size: 4.5rem;
  margin-bottom: 3.3rem;
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.log-in {
  padding: 1.5rem 3.5rem;
  background-color: var(--softRed);
  color: #fff;
  border-radius: 10px;

  border: 1px solid;

  transition: all 0.3s ease-out;
}

.log-in:hover {
  background-color: #fff;
  color: var(--softRed);
  border-color: var(--softRed);
}

.section-text {
  max-width: 50rem;
  text-align: center;
  margin-bottom: 6rem;
}

.info-button {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  background-color: var(--softBlue);
  padding: 1rem 2rem;
  border-radius: 8px;
  transition: all 0.3s ease-out;

  border: 1px solid inherit;
}

.info-button:hover {
  background-color: #fff;
  color: var(--softBlue);
  border-color: var(--softBlue);
  box-shadow: var(--softBlue) 0px 7px 29px 0px;
}

/* FAQ DISPLAY */

.faq-display .question-text {
  display: block;
}

/* FEATURE DISPLAY */

.feature-display .feature-content {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
