/* *********************************** */
/* BELOW 1344px (Smaller desktops) */
/* *********************************** */

@media (max-width: 870px) {
  html {
    font-size: 8px;
  }

  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.8rem;
  }

  .hero-section {
    padding: 3rem 0;
  }

  .feature-section {
    margin: 4rem 0;
  }

  .download-section {
    margin: 10rem 0;
  }
}

@media (max-width: 700px) {
  /* NAVIGATION */

  .main-nav {
    position: absolute;
    height: 0;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    transition: 0.2s;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-nav.active {
    height: 100vh;
    z-index: 1;
  }

  .main-nav-list {
    flex-direction: column;
    text-align: center;
  }

  .main-nav-mobile {
    display: block;
  }

  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4rem;
  }

  .extensions {
    height: auto;
  }

  .extensions :nth-child(3) {
    grid-column: 1 /-1;
    justify-self: center;
  }
}

/* --------------------------- */
@media (max-width: 550px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.7rem;
  }
  h3 {
    font-size: 1.6rem;
  }

  .grid--2-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid--3-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .extensions > .extension {
    justify-self: center;
    margin-bottom: 2rem;
  }

  .hero-section footer .container {
    flex-direction: column;
    gap: 6rem;
  }

  .hero-section-text {
    text-align: center;
  }
  .hero-section-text p {
    margin: 0 auto;
  }

  .hero-section-img {
    width: 80%;
    justify-self: center;
  }

  .hero-section-buttons {
    justify-content: center;
    margin-bottom: 4rem;
  }

  .feature {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }

  .feature-section .section-text {
    margin-bottom: 3rem;
  }

  .feature-section {
    margin: 2rem 0;
    padding: 0;
  }

  .feature-container {
    height: 45rem;
  }

  .feature-content {
    text-align: center;
  }

  .feature-content p {
    margin-bottom: 1.5rem;
  }

  .feature-content-text {
    text-align: center;
  }

  .feature-content-img {
    width: 70%;
    justify-self: center;
    margin-bottom: 4rem;
  }
  .feature-content-img img {
    justify-self: center;
  }

  .download-section {
    margin-top: 7rem;
  }

  .footer-links {
    flex-direction: column;
    gap: 3rem;
  }
  .footer-links .main-nav ul {
    flex-direction: column;
  }

  .contact-form {
    flex-direction: column;
  }

  form {
    width: 80%;
  }

  .contact-button {
    width: 80%;
  }

  .footer .container {
    flex-direction: column;
    gap: 4rem;
  }

  .footer-nav-list {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 370px) {
  html {
    font-size: 7px;
  }

  .feature-tab {
    font-size: 2rem;
  }

  .download-section {
    margin-top: 5rem;
  }
}
