/* //////////////NAV SECTION ///////////*/

header {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  height: 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 4.5rem;
}
.main-nav-list li {
  list-style: none;
}

.main-nav-link {
  color: var(--greas);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 1.5rem;

  transition: all 0.3s ease-out;
}

.main-nav-link:hover {
  color: var(--softRed);
}

/* //////////////HERO SECTION ///////////*/
.hero-section {
  padding: 7rem 0;
}

.hero-section p {
  max-width: 40rem;
}

.hero-section-img img {
  width: 100%;
}

.hero-section-buttons {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

.hero-button {
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: aliceblue;
  font-weight: 500;
  font-size: 1.3rem;
  border-radius: 5px;
  border: 1px solid;
  transition: all 0.3s ease-out;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.blue-button {
  background-color: var(--softBlue);
  color: #fff;
}

.blue-button:hover {
  background-color: #fff;
  border-color: var(--softBlue);
  color: var(--softBlue);

  box-shadow: rgba(116, 61, 237, 0.24) 0px 3px 8px;
}

.grish-button {
  background-color: #e9ecef;
  border-color: #e9ecef;
  color: black;
}

.grish-button:hover {
  background-color: #fff;
  border-color: black;

  box-shadow: rgba(61, 60, 60, 0.24) 0px 3px 8px;
}

/* /////////////// FEATURE SECTION ///////////// */

.feature-section {
  margin: 8rem 0;
}

.feature-container {
  position: relative;
  height: 30rem;
}

.feature {
  position: absolute;
}

.feature-first {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-out;
}
.feature-second {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-out;
}
.feature-third {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-out;
}

.feature-section-list {
  margin-bottom: 5rem;
  padding: 0 3.6rem;
}

.feature-nav {
  display: flex;
  justify-content: center;
}

.feature-nav a {
  display: block;
  font-weight: 500;
  color: #999;
  text-decoration: none;
  padding: 2rem;
  border-bottom: 3px solid rgb(204, 204, 204);
  transition: all 0.3s ease-out;
}

.feature-nav a:hover {
  color: black;
  border-color: var(--softRed);
}

.feature-content-img img {
  width: 90%;
}

.feature-content-text {
  max-width: 40rem;
}

.feature-content-text p {
  margin-bottom: 3.5rem;
}

/* /////////////// DOWNLOAD SECTION ///////////// */

.download-section {
  margin: 20rem 0;
}

.extensions {
  height: 45rem;
}

.extension {
  padding: 4rem 2rem;
  text-align: center;
  width: 28rem;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.3s ease-out;
}

.extension:hover {
  transform: translateY(-5%);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.extension img {
  margin-bottom: 3rem;
}

.extension-button {
  display: inline-block;
  width: 100%;
  padding: 1.5rem 3rem;
  background-color: var(--softBlue);
  color: #fff;
  margin-top: 5rem;
  text-decoration: none;
  font-weight: 500;
  border-radius: 8px;
  border: 2px solid var(--softBlue);

  font-size: 1.5rem;

  transition: all 0.3s ease-out;
}

.extension-button:hover {
  background-color: #fff;
  color: var(--softBlue);
  border-color: var(--softBlue);
}

.extensions :nth-child(1) {
  align-self: flex-start;
  justify-self: end;
}
.extensions :nth-child(2) {
  align-self: center;
  justify-self: center;
}

.extensions :nth-child(3) {
  align-self: flex-end;
  justify-self: start;
}

/* /////////////// FAQ SECTION ///////////// */

.faq-section {
  margin-bottom: 50rem;
}

.faq-questions {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;

  max-width: 50rem;
}

.question {
  border-top: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
  width: 100%;
}

.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  color: var(--darkBlue);
  transition: all 0.3s ease-out;

  padding: 2rem 0;
}

.question-title:hover * {
  color: var(--softRed);
}

.question-icon {
  width: 2rem;
  height: 2rem;
}

.question-text {
  display: none;
  padding: 1.5rem 0;
  line-height: 1.8;
  font-size: 1.3rem;
  color: #999;
}

.faq-button {
  display: flex;
  justify-content: center;
}
